@import "tailwindcss";

 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

 *{
  user-select: none;
 }
*::-webkit-scrollbar{
display: none;
scrollbar-color: black;
scrollbar-width: none;
}
body {
   color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
#scor{
  text-align: 0.6px;
}
